/*---RESET---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: white;
  position: sticky;
  /*---posicion fija----*/
  top: 0; }
  header li {
    list-style: none; }
    header li a img {
      height: 100px;
      width: 100px;
      padding: 10px; }
  header nav ul li a {
    text-decoration: none; }

.menu {
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden; }
  .menu .hero {
    width: 70%;
    height: auto; }
    .menu .hero .centrar {
      text-align: center;
      font-size: 30px;
      color: red; }
    .menu .hero .menu-parrafo {
      font-size: 20px; }
      .menu .hero .menu-parrafo::first-letter {
        font-size: 25px;
        color: red; }
    .menu .hero .centrara {
      text-align: center;
      font-size: 20px; }
  .menu .tiendac {
    width: 70%; }
    .menu .tiendac img {
      width: 100%;
      height: auto;
      padding: 10px; }

/*--section2--*/
.dobleimagen .ofresemos {
  text-align: center;
  color: red;
  font-size: 30px; }

.dobleimagen .variedad {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: auto;
  text-align: center; }
  .dobleimagen .variedad div h3 {
    color: red;
    font-size: 35px; }
  .dobleimagen .variedad div p {
    color: #000;
    font-size: 20px; }
  .dobleimagen .variedad div img {
    width: 50%;
    height: auto; }
  .dobleimagen .variedad div h4 {
    color: red;
    font-size: 35px; }
  .dobleimagen .variedad div p {
    color: #000;
    font-size: 20px; }
  .dobleimagen .variedad div img {
    width: 50%;
    height: auto; }
  .dobleimagen .variedad div h5 {
    color: red;
    font-size: 35px; }
  .dobleimagen .variedad div p {
    color: #000;
    font-size: 20px; }

/*--section3--*/
.tiendao {
  margin: 10px;
  padding: 10px;
  width: 100%;
  /*---ancho---*/
  height: auto;
  /*---largo---*/
  display: flex;
  /*---propierdad de flexbox---*/
  overflow: hidden; }
  .tiendao .corteria {
    text-align: center; }
    .tiendao .corteria .centrar {
      width: 70%;
      color: red; }
    .tiendao .corteria h3 {
      color: red;
      font-size: 25px; }
  .tiendao p {
    color: #000;
    font-size: 20px;
    margin: 20px; }
  .tiendao div {
    width: 70%; }
    .tiendao div img {
      height: auto;
      width: 100%; }

/*--section4--*/
.telas {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center; }
  .telas h2 {
    color: red; }
  .telas div img {
    height: auto;
    width: 50%; }
  .telas div p {
    font-size: 20px; }
  .telas div img {
    height: auto;
    width: 50%; }
  .telas div p {
    font-size: 20px; }
  .telas div img {
    height: auto;
    width: 50%; }
  .telas div p {
    font-size: 20px; }
  .telas .button button {
    background-color: red;
    color: white;
    padding: 20px;
    margin: 20px;
    align-items: center;
    font-size: 20px; }
  .telas .button a {
    text-decoration: none; }
    .telas .button a:hover {
      color: #000; }

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 15px;
  padding: 25px; }
  .whatsapp a img {
    height: 88px; }

/*--quienes somos--*/
.quienessomos div h1 {
  color: red;
  font-size: 35px;
  text-align: center; }

.quienessomos div p {
  font-size: 20px; }

.quienessomos div h2 {
  color: red;
  font-size: 35px;
  text-align: center; }

.quienessomos div p {
  font-size: 20px; }

.quienessomos div h3 {
  color: red;
  font-size: 35px;
  text-align: center; }

.quienessomos div p {
  font-size: 20px; }

.quienessomos div h4 {
  color: red;
  font-size: 35px;
  text-align: center; }

.quienessomos div p {
  font-size: 20px; }

div h5 {
  color: red;
  font-size: 35px;
  text-align: center; }

div p {
  font-size: 20px; }

div p {
  font-size: 20px; }

div p {
  font-size: 20px; }

/*--preguntas frecuentes--*/
main h1 {
  color: red;
  font-size: 35px;
  text-align: center; }

main h2 {
  color: red;
  font-size: 35px;
  text-align: center; }

main p {
  font-size: 20px; }

main h3 {
  color: red;
  font-size: 35px;
  text-align: center; }

main p {
  font-size: 20px; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center; }
  footer iframe {
    align-content: center;
    width: 200px;
    height: auto; }
  footer ul {
    list-style: none;
    text-align: center; }
    footer ul li {
      margin: 5px;
      display: inline-block; }
      footer ul li a {
        text-decoration: none;
        font-size: 20px; }
  footer div a {
    text-decoration: none; }

@media (max-width: 825px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; }
  .hero {
    width: 100%; }
  .h1 {
    width: 100%; }
  .menu-parrafo {
    width: 100%; } }

@media (max-width: 825px) {
  .tiendao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto; } }
