/*---RESET---*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*---------------------HEADER---------------------*/


header {
    background-color: white;  
    position: sticky; /*---posicion fija----*/
}

header li{
    list-style: none;
}


header li a img{
    height: 150px;
    width: 150px;
    padding: 20px;
}



/*------------------------MAIN----------------------*/ 


.menu{
    margin: 20px;
    padding: 20px;
    width: 100%; /*---ancho---*/
    height: auto; /*---largo---*/
    display: flex; /*---propierdad de flexbox---*/
    flex-direction: row;
}

.menu div{
width: 100%;
padding: 20px;
margin: 20px;
}
.menu div p{ 
    font-size: 30px;
}

.menu div img{
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 20px;
}


/*---section 1---*/ 

section h1{
    color:red ;
    font-size: 30px;
}

section p{
font-size: 27px;/*---medida letra---*/
}

h2{
    color: red;
}

.menu-parrafo::first-letter{/*---seudo elemendo---*/
    font-size: 50px;
    color: red;
}

.centrar{
    text-align: center;
    font-size: 30px;
}


/*---section 2---*/

.dobleimagen .dale{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows:auto;
    text-align: center;
    margin: 20px;
    border: 20px ;
    padding: 20px 25%;
} 

.dobleimagen h3{
    color: red;
    font-size: 35px;
}

.dobleimagen h3{
    font-size: 27px;
}
.dale div img{
    width: 70%;
    height: auto;
}


/*---section 3--*/


.tiendao{
    margin: 20px;
    padding: 20px;
    width: 100%; /*---ancho---*/
    height: auto; /*---largo---*/
    display: flex; /*---propierdad de flexbox---*/
    flex-direction: row;
}

.tiendao div{
    width: 100%;
    padding: 20px;
    margin: 20px;
    }
    
    .dos{
        width: 70%;
    }

    .tiendao div img{
        height: auto;
        width: 700px;
    }


/*---section 4---*/

.button button {
    background-color:red;
    color: white;
    padding: 20px;
    margin: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 30px;
}


.button a{
    text-decoration: none;
}


/*---seudoclass---*/

button:hover{
    color: #000;
    

}

.centrar{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px ;


}

.centrar div img{
    height: auto;
    width: 500px;
}

.centrar p {
    margin: 10px;
    padding: 15px;
    font-size: 27px;

}

/*---icono whatsapp---*/

.whatsapp {position: fixed;
bottom: 50px;
right: 15px;
padding: 25px;
}

.whatsapp img{ 
    width: 88px;
}

/*-----------------------FOOTER--------------------*/


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

footer  ul{
    list-style: none;
    text-align: center;
}

footer  ul li {
    margin: 5px;
    display: inline-block;
}

footer ul li a {
    text-decoration: none;
    font-size: 20px;
}


/*---contacto---*/


.contacto div h1 {
    color: black;
    font-size: 35px;
}


.contacto div h1 h2{
    color: black;
}

/*-------------------------------COMUNIDAD-------------------------------*/
