header{
    background-color: white;  
    position: sticky; /*---posicion fija----*/
    top: 0;
    li{
        list-style: none;
        a{
            img{height: 100px;
                width:100px;
                padding: 10px;
            }
        }
    }
    nav{
        ul{
            li{
                a{    text-decoration: none;
                }
            }
        }
    }
}