
.menu{
    margin: 10px;
    padding: 10px;
    width: 100%; 
    height: auto; 
    display: flex;
    overflow: hidden;

    .hero{width: 70%;
    height: auto;
    
    .centrar{
        text-align: center;
        font-size: 30px;
        color: $color-principal;
    }
    .menu-parrafo{
        &::first-letter{
        font-size: 25px;
        color: $color-principal;
    }
    font-size: 20px;
    }
    .centrara{ text-align: center;
        font-size: 20px;
    }
    
}
.tiendac{
    
    width: 70%;
    img{
        width: 100%;
        height: auto;
        padding: 10px;
    }
}
}


/*--section2--*/
.dobleimagen{
.ofresemos{text-align: center;
    color: $color-principal;
    font-size: 30px;
}
.variedad{width: 100%;
    height: auto;
    display: grid;
    grid-template-rows:auto;
    text-align: center;
    div{
    h3{color:$color-principal;
        font-size: 35px;
    }
    p{color: #000;
        font-size: 20px;
        } 
    }
    div{
        img{width: 50%;
            height: auto;
        }
    h4{color: $color-principal;
        font-size: 35px;
    }
    p{color: #000;
        font-size: 20px;
        
        }
    }
    div{
        img{width: 50%;
            height: auto;
        }
    
    h5{color: $color-principal;
        font-size: 35px;

    }
    p{color: #000;
        font-size: 20px;
            }
        }
    } 
}
/*--section3--*/

.tiendao{   margin: 10px;
    padding: 10px;
    width: 100%; /*---ancho---*/
    height: auto; /*---largo---*/
    display: flex; /*---propierdad de flexbox---*/
    overflow: hidden;
    .corteria{
        .centrar{width: 70%;
            color: $color-principal;}
        h3{
            color:$color-principal
            ;
            font-size: 25px;}
            text-align: center;
        }
        p{color: #000;
        font-size: 20px;
        margin: 20px;
                }
    div{width: 70%;
        img{height: auto;
            width:100%;
        }
    }
    }


/*--section4--*/

.telas{    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;

h2{color: $color-principal;

}
div{
    img{    height:auto;
        width: 50%;}

        p{ 
            font-size: 20px;

        }
}
div{
    img{    height:auto;
        width: 50%;}
        p{ 
            font-size: 20px;
        }
    
}
div{
    img{    height:auto;
        width: 50%;}
        p{  
            font-size: 20px;
        }
    
}
.button{
    button{background-color:$color-principal;
        color: white;
        padding: 20px;
        margin: 20px;
        align-items: center;
        font-size: 20px;
    }    
    a{    text-decoration: none;
        &:hover{
        color: #000;
    }
    }
}
}
.whatsapp{position: fixed;
    bottom: 30px;
    right: 15px;
    padding: 25px;
    
    a{
        img{
            height: 88px;
        }
    }
}

/*--quienes somos--*/
.quienessomos{
    div{
        h1{color: $color-principal;
            font-size: 35px;
            text-align: center;
            }
            p{font-size: 20px;
    }

}
div{
    h2{color: $color-principal;
        font-size: 35px;
        text-align: center;
        }
        p{font-size: 20px;
}

}
div{
    h3{color: $color-principal;
        font-size: 35px;
        text-align: center;
        }
        p{font-size: 20px;
}

}
div{
    h4{color: $color-principal;
        font-size: 35px;
        text-align: center;
        }
        p{font-size: 20px;
}


}

}
div{
    h5{color: $color-principal;
        font-size: 35px;
        text-align: center;
        }

    p{font-size: 20px;
    }
    

    p{font-size: 20px;
    }
    

    
    p{font-size: 20px;
    }
}


/*--preguntas frecuentes--*/
main{
    h1{
        color: $color-principal;
        font-size: 35px;
        text-align: center;
    }
    h2{  color: $color-principal;
        font-size: 35px;
        text-align: center;

    }

    p{font-size: 20px;

    }
    h3{  color: $color-principal;
        font-size: 35px;
        text-align: center;

    }
    p{font-size: 20px;

    }
}